.h-p {
    background-color: #f3ab1f;
    fill: white;
}

.h-b {
    background-color: #0076b6;
    fill: white;
}

.line {
    border-top: 1px solid black;
    width: 80%;
}

.link {
    color: #f3ab1f;
}

.card .btn-primary {
    background-color: #0076b6;
    border-color: #0076b6;
}